// Font

$default-font-size: 2.4rem;

// Colors
$color-primary: #cc1d54;
$color-light: #bf6b86;
$color-dark: #82072e;

$color-secondary-light: #c491eb;
$color-secondary-dark: #642694;

$color-tertiary-light: #f76d6d;
$color-tertiary-dark: #ba0202;

$color-grey-dark: #777;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;
$color-grey-light: #fff7f9;

$color-red-light: #bf6b86;
$color-red-mid: #cc1d54;
$color-red-dark: #82072e;
$color-pink-light: #f5d0dc;

// grid

$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 2rem;
