
// Colors
$color-primary: #cc1d54;
$color-light: #bf6b86;
$color-dark: #82072e;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-red-light: #bf6b86;
$color-red-mid: #cc1d54;
$color-red-dark: #82072e;
$color-pink-light: #f5d0dc;

// grid

$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 2rem;

