@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";


@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utility";

@import "components/composition";
@import "components/button";
@import "components/feature-box";
@import "components/card";


@import "layout/header";
@import "layout/grid";

@import "pages/home";





.text-box {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
};




.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 4 1fr;
	margin: 50px auto;
};

.food-pic {
	border-style:solid;
	border-width: 2px;
	border-color: rgba(191, 107, 134, 0.5);
	height: 120px;
	width: auto;
	padding: 7px;
};

.item-info {
	display: none;
};

.menu {
	color:blue;
	font-size: 20px;
};